<div class="rotated-text-container">
    <span class="rotated-text" title = "Added by student"> {{shortext}}</span>
</div>
<div class = "subchapter-icon">
    <i class="fa fa-plus text-danger icon" alt="Added by student" title="Added by student"></i>
</div>