{{!                                                                                                                                 
    This file is part of Moodle - http://moodle.org/                                                                                
                                                                                                                                    
    Moodle is free software: you can redistribute it and/or modify                                                                  
    it under the terms of the GNU General Public License as published by                                                            
    the Free Software Foundation, either version 3 of the License, or                                                               
    (at your option) any later version.                                                                                             
                                                                                                                                    
    Moodle is distributed in the hope that it will be useful,                                                                       
    but WITHOUT ANY WARRANTY; without even the implied warranty of                                                                  
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the                                                                   
    GNU General Public License for more details.                                                                                    
                                                                                                                                    
    You should have received a copy of the GNU General Public License                                                               
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.     

    @package mod_giportfolio
    @copyright 2022 Veronica Bermegui
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later                                                       
  }}

{{#viewgiportfolio}}
    <form action= "{{url}}" method = {{^exit}}"POST" {{/exit}} {{#exit}} "GET" {{/exit}} class='chapter-navigation'>
    {{^exit}}
    <input type="hidden" name="id" value ="{{cmid}}">
    <input type="hidden" name="chapterid" value ="{{chapterid}}">
    <input type="hidden" name="mentor" value ="{{mentor}}">
    <input type="hidden" name="mentee" value ="{{mentee}}">
    <input type="hidden" name="contribute" value ="{{contribute}}">
            <button type="submit" class="bigicon" title = 'Next'>
                <i style="display: none;" class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18" />
                  <path d="M16 12l-4 -4" />
                  <path d="M16 12h-8" />
                  <path d="M12 16l4 -4" />
                </svg>
            </button>
        {{/exit}}

        {{#exit}}
            <input type="hidden" name="id" value ="{{{id}}}">         
            <button type="submit" class="bigicon" title = 'Exit portfolio'>
                <i style="display: none;" class="fa fa-level-up" aria-hidden="true"></i>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                  <path d="M12 8l-4 4" />
                  <path d="M12 8v8" />
                  <path d="M16 12l-4 -4" />
                </svg>
            </button>
        
        {{/exit}}
    </form>
{{/viewgiportfolio}}

{{#viewcontribute}}

<form action= "{{url}}" method = "GET" class='chapter-navigation'>
    {{^exit}}
    <input type="hidden" name="id" value ="{{cmid}}">
    <input type="hidden" name="chapterid" value ="{{chapterid}}">
    <input type="hidden" name="userid" value ="{{userid}}">
    {{#mentor}}
        <input type="hidden" name="mentor" value ="{{mentor}}">
    {{/mentor}}
    <button type="submit" class="bigicon" title = 'Next'>
        <i style="display: none;" class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 3a9 9 0 1 0 0 18a9 9 0 0 0 0 -18" />
          <path d="M16 12l-4 -4" />
          <path d="M16 12h-8" />
          <path d="M12 16l4 -4" />
        </svg>
    </button>
    
    {{/exit}}
        {{#exit}}
            <input type="hidden" name="id" value ="{{{id}}}">         
            <button type="submit" class="bigicon" title = 'Exit portfolio'>
                <i style="display: none;" class="fa fa-level-up" aria-hidden="true"></i>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon-arrow-up" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                  <path d="M12 8l-4 4" />
                  <path d="M12 8v8" />
                  <path d="M16 12l-4 -4" />
                </svg>
            </button>
        {{/exit}}
    </form>
{{/viewcontribute}}