<div id= 'gi-processing-overlay' class='d-flex flex-column align-items-center justify-content-center overlay giportfolio-merge'>
  <div class='spinner-border processing' role='status'>
    <span class='sr-only'>Loading...</span>
  </div>
  <span class ="merging-message">Saving Chapters</span>
</div>
